
h1,h2,h3{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
hr{
    margin: 3% 0;
    border: #57218F 1px solid;
}
section{
    font-family: 'Roboto', sans-serif;
}
#account h2{
    color: #57218F;
}
#account img{
    width: 200px;
}
#account a{
    display: block;

    margin-top: 1%;
    padding: 5% 10%;

    background-color: #EEEEFF;
    color: #57218F;

    text-align: center;
}
#account a:hover{
    background-color: #57218F;
    color: #EEEEFF;
    transition: 1s;
}

#plan h2{
    color: #57218F;
    padding-bottom: 20px;
}
#plan h3{
    padding-bottom: 10px;
}

#plan a{
    color: #57218F;
}
@media (max-width: 768px){
    #account {
        margin-left: 15%;
        width: 200px;
        float: left;
        position: relative;
        top: 220px;
    }
    #setting{
        float: right;
        width: 65%;
        position: relative;
        top: 250px;
        margin-right: -20%;
    }
    #setting hr{
        width: 80%;
    }
    #plan{
        position: relative;
        top: 270px;
        float: left;
        margin: 0 15%;
        width: 100%;
        margin-bottom: 2%;
    }
    #billing_history{
        margin-top: 2%;
        position: relative;
        top: 250px;
        float: left;
        margin: 0 15%;
        width: 100%;
    }
    #billing_info{
        position: relative;
        top: 250px;
        float: left;
        margin: 0 15%;
        width: 100%;
    }
    #plan hr, #billing_history hr, #billing_info hr{
        margin-right: 30%;
        width: 90%;
    }
    #plan li:nth-child(2){
        float: right;
        margin-right: 10%;
        position: relative;
        top: -45px;
    }
    #plan li:nth-child(4){
        float: right;
        margin-right: 10%;
        position: relative;
        top: -20px;
    }
    #billing_history li:nth-child(2){
        float: right;
        margin-right: 10%;
        position: relative;
        top: -33px;
    }
    #billing_history li:nth-child(5){
        float: right;
        margin-right: 10%;
        position: relative;
        top: -20px;
    }
    #billing_info>ul>li:nth-child(1){
        float: right;
        margin-right: 10%;
        position: relative;
        top: -45px;
    }
}
@media (max-width: 376px){
    #account {
        margin-left: 15%;
        width: 200px;
        float: left;
        position: relative;
        top: 220px;
        margin: 0 30%;
    }
    #setting{
        float: left;
        width: 90%;
        position: relative;
        top: 250px;
        margin: 0 20%;
    }
    #plan{
        position: relative;
        top: 270px;
        float: left;
        margin: 0 20%;
        width: 80%;
    }
    #billing_history{
        margin-top: 2%;
        position: relative;
        top: 280px;
        float: left;
        margin: 0 20%;
        width: 80%;
    }
    #billing_info{
        position: relative;
        top: 280px;
        float: left;
        margin: 0 20%;
        width: 80%;
    }
    #billing_info>ul>li:nth-child(1){
        top: -30px;
    }
}

@media (min-width: 769px){
    #setting{
        float: right;
        margin-right: 15%;
        width: 50%;
        position: relative;
        top: 250px;
    }
    #account {
        margin-left: 15%;
        width: 200px;
        float: left;
        position: relative;
        top: 200px;
    }
    #plan{
        position: relative;
        top: 270px;
        float: left;
        margin: 0 15%;
        width: 100%;
        margin-bottom: 2%;
    }
    #billing_history{
        margin-top: 2%;
        position: relative;
        top: 250px;
        float: left;
        margin: 0 15%;
        width: 100%;
    }
    #billing_info{
        position: relative;
        top: 250px;
        float: left;
        margin: 0 15%;
        width: 100%;
    }

    #plan hr, #billing_history hr, #billing_info hr{
        margin-right: 30%;
    }
    #plan li:nth-child(2){
        float: right;
        margin-right: 30%;
        position: relative;
        top: -45px;
    }
    #plan li:nth-child(4){
        float: right;
        margin-right: 30%;
        position: relative;
        top: -20px;
    }
    #billing_history li:nth-child(2){
        float: right;
        margin-right: 30%;
        position: relative;
        top: -45px;
    }
    #billing_history li:nth-child(5){
        float: right;
        margin-right: 30%;
        position: relative;
        top: -20px;
    }
    #billing_info>ul>li:nth-child(1){
        float: right;
        margin-right: 30%;
        position: relative;
        top: -45px;
    }
}



#billing_history a{
    color: #57218F;
}


#billing_info h2{
    color: #57218F;
}
#billing_info a{
    color: #57218F;
}
#billing_info a:hover{
    border: #57218F 1px solid;
}

#bill_address{
    padding-bottom: 10%;
}

@media (max-width: 768px){

}
@media (max-width: 376px){

}

@media (min-width: 769px){

}