@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto:wght@300;400;700&display=swap');

/*Mobile Responsive*/
@media ( max-width: 600px ) {
header #logo {
        margin-top: 8%;
        margin-bottom: 5%;
        margin-left: 0%;
        width: auto;
        text-align: center;
    }
    
header #search_bar {
        width: auto;
    }
        
header #nav {
        float: none;
        margin-top: 2%;
        width: auto;
    }
        
    #book {
        float: none;
        width: auto;
    }
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
ul::after{
    content: "";
    display: block;
    clear: both;
}

a{
    text-decoration: none;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/*Logo*/
@media (min-width:600px){
    header #logo{
        margin-left: 10%;
        margin-top: 3%;
    }   
}

header #logo h1 a{
    color: #57218F;
    font-family: 'Parisienne', cursive;
}

header #logo h1 img{
    width: 26px;
    height: auto;
}

/*Search Bar*/
header #search_bar{
    text-align: center;

    margin-top: -3%;
    margin-bottom: 1%;
}

header #search_bar input[type=text]{
    padding: 8px 15px;
    width: 400px;

    font-size: 14px;
    line-height: 18px; 
    color: #57218F; /* color of the inputed text*/

    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 20px 20px; /*size of the searh icon*/
    background-position: 95% center; /*location of the search icon*/

    border-radius: 50px;
    border: 1.5px solid #57218F;

    transition: all 200ms ease-in-out;
    /*backface-visibility: hidden;
    transform-style: preserve-3d;*/
}

header #search_bar input:hover{
    padding: 8px 0px;
    outline: 0;
    border: 1.5px solid transparent;
    border-bottom: 1.5px solid #57218F;
    border-radius: 0;
    /*background-position: 100% center;*/
}

header #search_bar input:focus{
    padding: 8px 0px;
    outline: 0;
    border: 1.5px solid transparent;
    border-bottom: 1.5px solid #57218F;
    border-radius: 0;
    /*background-position: 100% center;*/
}


/*Nav*/
header #nav{
    width: 100%;
    background-color: #EEEEFF;
}

header #nav ul{
    margin-left: 10%;
    margin-right: 10%;
}

header #nav ul li{
    display: inline-block;
    width: 19%;

    text-align: center;
}

/*
header #nav ul li:first-child{
    text-align: left;
}

header #nav ul li:last-child{
    text-align: right;
}
*/

header #nav ul li a{
    color: #57218F;
    display: block;
    padding: 15px 0; /*vertical horizontal*/
}

header #nav ul li a:hover{
    font-weight: bold;
    background-color: #57218F;
    color: #EEEEFF;
    transition: .5s;
}

/*SECTION*/

/*Banner*/
.responsiveImg{
    width: 100%;
    height: auto;
}

 ul,li {
     list-style:none;
}

  #slide{
      height:350px;
      position:relative;
      overflow:hidden;
}

  #slide ul{
      width:400%;
      height:100%;
      transition:1s;
}

  #slide ul:after{
      content:"";
      display:block;
      clear:both;
}

  #slide li{
      float:left;
      width:25%;
      height:100%;
}

  #slide li:nth-child(1){
      background:#faa;
}

  #slide li:nth-child(2){
      background:#ffa;
}

  #slide li:nth-child(3){
      background:#faF;
}

  #slide li:nth-child(4){
      background:#aaf;
}

  #slide input{
      display:none;
}

  #slide label{
      display:inline-block;
      vertical-align:middle;
      width:10px;height:10px;
      border:2px solid #57218F;
      background:#fff;
      transition:0.3s;
      border-radius:50%;
      cursor:pointer;
}

  #slide .pos{
      text-align:center;
      position:absolute;
      bottom: 10px;
      left:0;
      width:100%;
      text-align:center;
}

  #pos1:checked~ul{
      margin-left:0%;
}

  #pos2:checked~ul{
      margin-left:-100%;
}

  #pos3:checked~ul{
      margin-left:-200%;
}

  #pos4:checked~ul{
      margin-left:-300%;
}

  #pos1:checked~.pos>label:nth-child(1){
      background:#57218F;
}

  #pos2:checked~.pos>label:nth-child(2){
      background:#57218F;
}

  #pos3:checked~.pos>label:nth-child(3){
      background:#57218F;
}

  #pos4:checked~.pos>label:nth-child(4){
      background:#57218F;
}















/*Banner*/
/* section #slide_wrap{
    margin-bottom: 2.5%;
}
section #slide_wrap, #slide, #slide li{
    width: 100%;
    height: 360px;
}

section #slide_wrap li{
    width: 100%;
    height: auto;
}

section #slide_wrap #slide li img{
    width: 100%;
    height: 350px;
} */

/*banner btn*/
/* section #slide_wrap #btn{
   margin: 0 auto;
}

section #slide_wrap #btn ul li{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #EEEEFF;
    margin: 3px;
    float: left;

    border: #8E8EEA solid 1px;
}
section #slide_wrap #btn .on{
    background-color: #8E8EEA;
} */







/*TOP 5*/

.table1{
    width: 100%;
    height: auto;
    margin-right: 10%;
}

section #top5{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 3%;
}

section #top5 h2 {
    color: #57218F;
    margin-bottom: 1%;
}

section #top5 li{
    display: inline-block;
    /*width: 19.5%;*/
    margin-right: 0;
}

section #top5 li:hover img{
    opacity: 0.7;
}

section #top5 li img{
    width: 85%;
    max-width: 200px;
    height: auto; 
    max-height: 240px;
}

section #top5 li a{
    color: #141414;
}

section #top5 li h5{
    text-align: center;
 }

section #top5 li p {
    text-align: left;
    line-height: 150%;
}


/*Latest Release*/
section #latest{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

section #latest h2 {
    color: #57218F;
    margin-bottom: 1%;
    margin-top: 3%;
}

section #latest li{
    display: inline-block;
    /*width: 19.5%;*/
    margin-right: 0;
}

section #latest li:hover img{
    opacity: 0.7;
}

section #latest li img{
    width: 85%;
    max-width: 200px;
    height: auto; 
    max-height: 240px; 
}

section #latest li a{
    color: #141414;
}

section #latest li h5{
    text-align: center;
 }

section #latest li p {
    text-align: left;
    line-height: 150%;
}

/*TRENDING NOW*/
section #trend{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

section #trend h2 {
    color: #57218F;
    margin-bottom: 1%;
    margin-top: 3%;
}

section #trend li{
    display: inline-block;
    /*width: 19.5%;*/
    margin-right: 0;
}

section #trend li:hover img{
    opacity: 0.7;
}

section #trend li img{
     width: 85%;
    max-width: 200px;
    height: auto; 
    max-height: 240px;
}

section #trend li a{
    color: #141414;
}

section #trend li h5{
    text-align: center;
 }

section #trend li p {
    text-align: left;
    line-height: 150%;
}

/*COMING SOON*/
section #coming{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

section #coming h2 {
    color: #57218F;
    margin-bottom: 1%;
    margin-top: 3%;
}

section #coming li{
    display: inline-block;
    /*width: 19.5%;*/
    margin-right: 0;
}

section #coming li:hover img{
    opacity: 0.7;
}

section #coming li img{
    width: 85%;
    max-width: 200px;
    height: auto; 
    max-height: 240px;
}

section #coming li a{
    color: #141414;
}

section #coming li h5{
    text-align: center;
 }

section #coming li p {
    text-align: left;
    line-height: 150%;
}

section #coming .comming_btn {
     margin-top: 10%;
     font-size: 14px;
}

section #coming .comming_btn a{
    background-color: #EEEEFF;
    color: #57218F;
    padding: 5% 30%;
    align-items: center;
}

section #coming .comming_btn a:hover{
    background-color: #57218F;
    color: #EEEEFF;
    transition: 0.5s;
}

section{
    margin-bottom: 3%;
}

/*FOOTER*/
/*site map*/
footer {
    width: 100%;
    background-color: #EEEEFF;
}

footer #site_map {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2.5%;
}

footer #site_map .sns li{

}

footer #site_map ul li{
}



footer #divider{
    margin: 1.5% 10%; /*vertical horizontal*/
    background-color: #57218F;
    height: 1.5px;
}

/*COPYRIGHT*/
footer #copyright{
    margin-left: 10%;
    margin-right: 10%;
}

footer #copyright li{
    display: inline-block;
    margin-bottom: 2.8%;
}

footer #copyright li:last-child{
    color: #57218F;
    margin-left: -1%;
}

footer #copyright img{
    width: 20px;
    height: 20px;
}