@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*Desktop Screen*/
@media (min-width:600px){
    .table1{
        width: 100%;
        height: auto;
        margin-right: 10%;
    }

    header #logo{
        margin-left: 10%;
        margin-top: 3%;
    }  
    
    section #signIn{
        margin-left: 25%;
        margin-top: 25%;
        margin-right: 25%;
    }

}

/*Text Entry*/
@media (min-width:600px){
    
    section #signIn {
    margin-bottom: 5%;
    }

    section #signUp {
        text-align: right;
    }

    section #textEntrySection{
        margin-bottom: 1.3%;
    }

    section #signUp{
        font-size: 80%;
    }

    section #signIn input[type=text] {
    width: 125%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #bcabc4;
    border-radius: 4px;
    }

    section #signIn .textEntry{
    margin-top: 3%;
    margin-left: 0%;
    margin-right: 20%;
    margin-bottom: -2%;
    }

    section #signIn input[type=signIn] {
    width: 20%;
    background-color: #EEEEFF;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    text-align: center;
    color: #57218F;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    section #signIn input[type=signIn]:hover {
        background-color: #57218F;
    }

    section #button {
        margin-top: 0%;
    }

}

@media (max-width:600px){
    section #signIn {
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    }

    section #signUp {
        text-align: right;
        text-decoration: none;
    }

    section #textEntrySection{
        margin-bottom: 1.3%;
    }

    section #signUp{
        font-size: 80%;
    }

    section #signIn input[type=text] {
    width: 125%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #bcabc4;
    border-radius: 4px;
    }

    section #signIn .textEntry{
    margin-top: 3%;
    margin-left: 0%;
    margin-right: 20%;
    margin-bottom: -2%;
    }

    section #signIn input[type=signIn] {
    width: 20%;
    background-color: #EEEEFF;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    text-align: center;
    color: #57218F;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    section #signIn input[type=signIn]:hover {
    background-color: #57218F;
    color: #EEEEFF;
    }

    section #button {
        margin-top: 0%;
    }
}


@media (min-width:600px){
    #login{
        margin-top: 5%;
        margin-right: 10%;
        float: right;
        width: 15%;
        height: 40px;
    }

    #login li{
        float: left;
        width: 48%;
        line-height: 40px;
        text-align: center;
        margin-bottom: 2px;
    }

    #login li:nth-child(2){
        float: right;
    }

    #login li a{
        display: block;
        color: #57218F;
        font-family: 'Roboto', sans-serif;
        font-size: medium;
    }

    #login li:nth-child(2) a{
        display: block;
        color: #57218F;
        background-color: #EEEEFF;
    }

    #login li:nth-child(1) a:hover{
        border: 1.5px solid #57218F;
    }


    #login li:nth-child(2) a:hover{
        background-color: #57218F; 
        color: #EEEEFF;
        transition: 0.5s;
    }
}
section{
    font-family: 'Roboto', sans-serif;
}
#signUp p a{
    color: #57218F;
}