@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto:wght@300;400;700&display=swap');

/*Reset*/
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/*Logo*/
header #logo{
    margin-left: 10%;
    margin-top: 3%;
}

header #logo h1{
    color: #57218F;
    font-family: 'Parisienne', cursive;
}

header #logo h1 img{
    width: 50px;
    height: 50px;
}

/*Search Bar*/
header #search_bar{
    text-align: center;

    margin-top: -3%;
    margin-bottom: 1%;
}

header #search_bar input[type=text]{
    padding: 8px 15px;
    width: 400px;

    font-size: 14px;
    line-height: 18px; 
    color: #57218F; /* color of the inputed text*/

    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 20px 20px; /*size of the searh icon*/
    background-position: 95% center; /*location of the search icon*/

    border-radius: 50px;
    border: 1.5px solid #57218F;

    transition: all 200ms ease-in-out;
    /*backface-visibility: hidden;
    transform-style: preserve-3d;*/
}

header #search_bar input:hover{
    padding: 8px 0px;
    outline: 0;
    border: 1.5px solid transparent;
    border-bottom: 1.5px solid #57218F;
    border-radius: 0;
    /*background-position: 100% center;*/
}

header #search_bar input:focus{
    padding: 8px 0px;
    outline: 0;
    border: 1.5px solid transparent;
    border-bottom: 1.5px solid #57218F;
    border-radius: 0;
    /*background-position: 100% center;*/
}


/*Nav*/
header #nav{
    width: 100%;
    background-color: #EEEEFF;
}

header #nav ul{
    margin-left: 10%;
    margin-right: 10%;
}

header #nav ul li{
    display: inline-block;
    width: 19%;

    text-align: center;
}

/*
header #nav ul li:first-child{
    text-align: left;
}

header #nav ul li:last-child{
    text-align: right;
}
*/

header #nav ul li a{
    color: #57218F;
    display: block;
    padding: 15px 0; /*vertical horizontal*/
}

header #nav ul li a:hover{
    font-weight: bold bolder;
    background-color: #57218F;
    color: #EEEEFF;
    transition: .5s;
}

/*SECTION*/
/*Banner*/
section #slide_wrap{
    margin-bottom: 2.5%;
}
section #slide_wrap, #slide, #slide li{
    width: 100%;
    height: 360px;
}

section #slide_wrap li{
    width: 100%;
    height: auto;
}

section #slide_wrap #slide li img{
    width: 100%;
    height: 350px;
}

/*banner btn*/
section #slide_wrap #btn{
   margin-left: 45%;
}

section #slide_wrap #btn li{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #EEEEFF;
    margin: 3px;
    float: left;

    border: #8E8EEA solid 1px;
}
section #slide_wrap #btn .on{
    background-color: #8E8EEA;
}

/*FOOTER*/
/*site map*/
footer {
    width: 100%;
    background-color: #EEEEFF;
}

footer #site_map {
    margin-left: 10%;
    margin-right: 10%;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer #site_map ul{
    
}

/*Table Design*/

div {
    float:left;
    margin-right: 1rem;
}

div.bookCover {
    margin-left: 3rem;
}


bookcover {
  max-width: 100px;
  height: 150px;
}

.button-nav {
  margin-top:0.5rem;
  display: inline-block;
  border-radius: 0px;
  padding-left: 0.67rem;
  padding-right: 0.67rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: rgb(42, 58, 117);
  background-color: #dbdafb;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(243, 232, 243);
}
